<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed Humidity View</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="button-area">
      <a
        href="/"
        class="btn btn-primary"
        style="position: absolute; top: 10px; left: 10px; font-size: 20px"
        ><i class="bi bi-arrow-left"></i
      ></a>
      <button
      id="toggleUnitButton"
      class="btn btn-secondary"
      style="position: absolute; top: 10px; right: 10px; font-size: 20px"
      onclick="toggleUnit()"
    >
      Toggle Unit
    </button>
    </div>
    <div class="container py-5" id="status-container">
      <h1 class="text-center mb-4">
        Detailed View: {{ mac_address }} <br />
        {{ familiar_name }}
      </h1>
      <canvas
        id="humidityChart"
        style="max-width: 100%; max-height: 300pt"
      ></canvas>
      <canvas
        id="tempretureChart"
        style="max-width: 100%; max-height: 300pt"
      ></canvas>
      <div id="delete-button">
        <a
          class="btn btn-danger"
          href="#"
          data-href="/delete/{{ mac_address }}"
          data-bs-toggle="modal"
          data-bs-target="#confirm-delete"
        >
          Delete Data
        </a>
      </div>
      <br />
      <div id="change-name-button">
        <a
          class="btn btn-secondary"
          href="#"
          data-href="/change-name/{{ mac_address }}"
          data-bs-toggle="modal"
          data-bs-target="#confirm-name-change"
        >
          Change Name
        </a>
      </div>
    </div>
    <div
      class="modal fade"
      id="confirm-delete"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="margin: 0 auto">
              Confirm Delete
            </h4>
          </div>

          <div class="modal-body">
            <p>
              You are about to delete the logs related to {{mac_address}}, this
              procedure is irreversible.
            </p>
            <p>Do you want to proceed?</p>
            <p class="debug-url"></p>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-danger btn-ok">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="confirm-name-change"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="margin: 0 auto">
              Confirm name change
            </h4>
          </div>

          <div class="modal-body">
            <p>
              Please enter the new name for the device with MAC address
              {{mac_address}}.
            </p>
            <label for="familiar_name">New name</label>
            <input
              type="text"
              class="form-control"
              id="familiar_name"
              aria-describedby="familiar_help"
              placeholder="Enter name"
            />
            <small id="familiar_help" class="form-text text-muted"
              >This will be used to make it easier to tell which device is
              who</small
            >
            <p class="debug-url"></p>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-secondary btn-ok" onclick="postNewName()"
              >Update</a
            >
          </div>
        </div>
      </div>
    </div>

    <script>
      const TOTAL_RANGE = 3100 - 1220;

        // Utility function to get a cookie's value by name
        function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
      }

      async function postNewName() {
        const new_name = document.getElementById("familiar_name").value;
        const macAddress = "{{ mac_address }}";
        const response = await fetch(`/change-name/${macAddress}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ new_name: new_name }),
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert("Failed to update name");
        }
      }

      function setCookie(name, value, days) {
        let expires = "";
        if (days) {
          const date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }
      // Function to toggle the temperature unit
      function toggleUnit() {
        const currentUnit = getCookie("unit");
        // Toggle between "F" and "C" (default is Celsius if cookie not set)
        if (currentUnit && currentUnit === "F") {
          setCookie("unit", "C", 30);
        } else {
          setCookie("unit", "F", 30);
        }
        window.location.reload();
      }

      // Parse data passed from the server
      const data = JSON.parse('{{ data|tojson|safe }}');
      // Extract labels from the data
      const labels = data.map((entry) => {
        const date = new Date(entry.timestamp);
        return date.toLocaleTimeString([], {
          day: "2-digit",
          month: "2-digit",
          hour: "2-digit",
          minute: "2-digit",
        });
      });
      
      // Calculate humidity values as percentages
      const humidityValues = data.map((entry) => {
        const rawValue = Math.max(parseInt(entry.payload), 0);
        return Math.min(Math.max(100 - (rawValue / TOTAL_RANGE) * 100, 0), 100);
      });
      
      const unit = getCookie("unit");
      // Calculate temperature values as Celsius
      let temperatureValues = data.map((entry) => {
        return parseFloat(entry.temperature);
      });
      let heatindexValues = data.map((entry) => {
        return parseFloat(entry.heat_index);
      });

      let tempLabel = "Temperature (°C)";
      let heatIndexLabel = "Heat Index (°C)";
      let yAxisTitle = "Temperature (°C)";
      // Check cookie to see if we should convert to Fahrenheit
      if (unit && unit === "F") {
        // Convert each temperature and heat index value from Celsius to Fahrenheit
        temperatureValues = temperatureValues.map(c => (c * 9/5 + 32).toFixed(2));
        heatindexValues = heatindexValues.map(c => (c * 9/5 + 32).toFixed(2));
        tempLabel = "Temperature (°F)";
        heatIndexLabel = "Heat Index (°F)";
        yAxisTitle = "Temperature (°F)";
      }

      // Estimate time to reach 50%

      const lastIndex = humidityValues.length - 1;
      let firstIndex = 0; // Start with default first index

      // Find the last occurrence of 100% (watering event)
      for (let i = lastIndex; i >= 0; i--) {
        if (humidityValues[i] === 100) {
          firstIndex = i;
          break;
        }
      }

      const lastValue = humidityValues[lastIndex];
      const firstValue = humidityValues[firstIndex];
      const lastTime = new Date(data[lastIndex].timestamp);
      const firstTime = new Date(data[firstIndex].timestamp);

      const alertDiv = document.createElement("div");
      alertDiv.className = "alert alert-info mt-4";
      alertDiv.role = "alert";

      // Handle special cases
      if (lastValue === 100) {
        alertDiv.innerHTML =
          "<strong>Plant recently watered. Estimation not available yet.</strong>";
      } else if (firstIndex === lastIndex) {
        alertDiv.innerHTML =
          "<strong>Not enough data after watering to estimate.</strong>";
      } else {
        const rateOfChange = (lastValue - firstValue) / (lastTime - firstTime);

        if (isNaN(rateOfChange) || !isFinite(rateOfChange)) {
          alertDiv.innerHTML =
            "<strong>Estimation unavailable due to invalid data.</strong>";
        } else {
          const timeTo50Percent = (50 - lastValue) / rateOfChange;
          const estimatedTime = new Date(lastTime.getTime() + timeTo50Percent);
          alertDiv.innerHTML = `<strong>Estimated time till next watering:</strong> ${estimatedTime.toLocaleString()}`;
        }
      }
      document.querySelector(".container").appendChild(alertDiv);

      // Configure the chart
      const ctx = document.getElementById("humidityChart").getContext("2d");
      new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Humidity (%)",
              data: humidityValues,
              borderColor: "rgba(75, 192, 192, 1)",
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              fill: true,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "top",
            },
          },
          scales: {
            x: {
              title: {
                display: true,
                text: "Time",
              },
            },
            y: {
              title: {
                display: true,
                text: "Humidity (%)",
              },
            },
          },
        },
      });

      // Check if all temperature values are 0
      const allZero = temperatureValues.every((value) => value === 0);
      if (!allZero) {
        // Configure the chart for temperature and heat index
        const tempCtx = document.getElementById("tempretureChart").getContext("2d");
        new Chart(tempCtx, {
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label: tempLabel,
                data: temperatureValues,
                borderColor: "rgba(255, 99, 132, 1)",
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                fill: true,
              },
              {
                label: heatIndexLabel,
                data: heatindexValues,
                borderColor: "rgba(54, 162, 235, 1)",
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                fill: true,
              },
            ],
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "top",
              },
            },
            scales: {
              x: {
                title: {
                  display: true,
                  text: "Time",
                },
              },
              y: {
                title: {
                  display: true,
                  text: yAxisTitle,
                },
              },
            },
          },
        });
      } else {
        document.getElementById("tempretureChart").style.display = "none";
      }
      
      document
        .getElementById("confirm-delete")
        .addEventListener("show.bs.modal", function (e) {
          const modal = this;
          const button = e.relatedTarget; // The button that triggered the modal
          const href = button.getAttribute("data-href"); // Get the data-href attribute value

          modal.querySelector(".btn-ok").setAttribute("href", href);

          const debugUrlElement = document.querySelector(".debug-url");
          if (debugUrlElement) {
            debugUrlElement.innerHTML = `Delete URL: <strong>${href}</strong>`;
          }
        });
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
